dist: trusty
sudo: false
language: python
python:
  - "3.6"
install:
  - pip install -r requirements.txt
  - pip install flake8 flake8-builtins flake8-docstrings flake8-import-order mypy pylint
script:
  - make check
