[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nbformat = "*"

[dev-packages]
"flake8" = "*"
"flake8-builtins" = "*"
"flake8-docstrings" = "*"
mypy = "*"
pylint = "*"
wheel = "*"
twine = "*"
"flake8-bugbear" = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.6"

[scripts]
# We pass `--strict` here as mypy does not support specifying it in the
# `mypy.ini` configuration file.
mypy = "mypy --strict nb-clean setup.py"
flake8 = "flake8 nb-clean setup.py"
pylint = "pylint nb-clean setup.py"
isort = "isort -c -rc nb-clean setup.py"
black = "black --check nb-clean setup.py"
package = "python setup.py sdist bdist_wheel"
upload = "twine upload -s dist/*.tar.gz dist/*.whl"
