[tool.black]
line-length = 79

[tool.isort]
profile = "black"
line_length = 79

[tool.mypy]
ignore_missing_imports = true

[tool.pylint."MESSAGES CONTROL"]
disable = ["duplicate-code", "line-too-long"]

[tool.poetry]
name = "nb-clean"
version = "2.4.0"
description = "Clean Jupyter notebooks for versioning"
authors = ["Scott Stevenson <scott@stevenson.io>"]
license = "ISC"
readme = "README.md"
homepage = "https://github.com/srstevenson/nb-clean"
repository = "https://github.com/srstevenson/nb-clean"
keywords = ["jupyter", "notebook", "clean", "filter", "git"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
]
include = ["LICENCE", "images/nb-clean.png"]

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
nbformat = "^5.1.2"

[tool.poetry.scripts]
nb-clean = "nb_clean.cli:main"

[tool.poetry.dev-dependencies]
black = {extras = ["jupyter"], version = "^22.10"}
flake8 = "^5.0.4"
isort = "^5.10.1"
mypy = "^0.982"
nox = "^2022.8.7"
pylint = "^2.13.9"
pytest-mock = "^3.10.0"
pytest-lazy-fixture = "^0.6.3"
pytest-cov = "^4.0.0"
pyupgrade = "^3.2.0"
flake8-pytest-style = "^1.6.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
