[tool.black]
line-length = 79
target-version = ["py36"]

[tool.isort]
combine_as_imports = true
force_grid_wrap = 0
include_trailing_comma = true
line_length = 79
multi_line_output = 3

[tool.poetry]
name = "nb-clean"
version = "1.4.1"
description = "Clean Jupyter notebooks for versioning"
authors = ["Scott Stevenson <scott@stevenson.io>"]
license = "ISC"
readme = "README.md"
homepage = "https://github.com/srstevenson/nb-clean"
repository = "https://github.com/srstevenson/nb-clean"
keywords = ["jupyter", "notebook", "clean", "filter", "git"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
]
include = ["LICENCE"]

[tool.poetry.dependencies]
python = "^3.6"
nbformat = "^4.4"

[tool.poetry.dev-dependencies]
mypy = "^0.660.0"
flake8 = "^3.6"
flake8-builtins = "^1.4"
flake8-bugbear = "^18.8"
flake8-comprehensions = "^1.4"
pylint = "^2.2"
isort = "^4.3.5"
flake8-docstrings = "^1.3"
nox = "^2018.10"
black = "=18.9b0"
docargs = "^0.0.9"
flake8-per-file-ignores = "^0.7.0"

[tool.poetry.scripts]
nb-clean = "nb_clean:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
