[tool.black]
line-length = 79

[tool.isort]
profile = "black"
line_length = 79

[tool.pylint."MESSAGES CONTROL"]
disable = "duplicate-code"

[tool.poetry]
name = "nb-clean"
version = "2.0.1"
description = "Clean Jupyter notebooks for versioning"
authors = ["Scott Stevenson <scott@stevenson.io>"]
license = "ISC"
readme = "README.md"
homepage = "https://github.com/srstevenson/nb-clean"
repository = "https://github.com/srstevenson/nb-clean"
keywords = ["jupyter", "notebook", "clean", "filter", "git"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
]
include = ["LICENCE"]

[tool.poetry.dependencies]
python = ">=3.6,<4.0"
nbformat = ">=5.0.5"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
flake8 = "^3.8.4"
isort = "^5.5.4"
mypy = "^0.782"
nox = "^2020.8.22"
pyint = "^1.1.0"
pylint = "^2.6.0"
pytest-mock = "^3.3.1"
pytest-lazy-fixture = "^0.6.3"

[tool.poetry.scripts]
nb-clean = "nb_clean.cli:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
