name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  checks:
    name: Run checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          python3 -m pip install coverage poetry
          poetry install

      - name: Run checks
        run: poetry run poe check

      - name: Create XML coverage report
        run: poetry run coverage xml

      - name: Upload test coverage report
        uses: codecov/codecov-action@v5.3.1
